#timer{
    color: brown;
}

#inputText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 10vh;
}
input{
    
}
#text{
    display: flex;
    align-items: start;
    gap: 3%;
    font-size: x-large;
    width: 60%;
    height: 10vh;
}
header{
    color: orangered;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    
}
body{
    margin: 0;
    padding: 0;
}
#layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: aliceblue;
}
.word-input{
    font-size: 110%;
    color: green;
     text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
    padding: 1%;
}
#incorect{
    color: red;
}
#record{
    
}
#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
button{
    height: 5vh;
    width: 5vw;
    border-radius: 10Px;
    color: orangered;
    background-color: white;
}
button:hover{
    background-color: orangered;
    color: white;
    transform: scale(1.2);
}