#timer{
    color: brown;
}

#inputText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 10vh;
}
input{
    
}
#text{
    display: flex;
    align-items: start;
    gap: 3%;
    font-size: x-large;
    width: 60%;
    height: 10vh;
}
header{
    color: orangered;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    
}
body{
    margin: 0;
    padding: 0;
}
#layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: aliceblue;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}
.words{
    color: gray;
}
.word-specific{
    font-size: 110%;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}
#incorect{
    color: red;
}
#record{
    
}
#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
button{
    height: 5vh;
    width: 5vw;
    border-radius: 10Px;
    color: orangered;
    background-color: white;
}
button:hover{
    background-color: orangered;
    color: white;
    transform: scale(1.2);
}
#leader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 8pxn solid black;
    width: 30vw;
}
#headLeder{
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: center;
}
li:nth-child(odd) {
  background-color: antiquewhite;
}
#first{
    background-color: rgb(47, 203, 47);
    color: rgb(239, 236, 232);
}